{% extends 'base.html.twig'%}

{% block body %}

    {% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
    {% include 'FrontOffice/Components/navbar.html.twig' %}

    <style>
        .active-modal {
            filter: blur(2px);
        }
        
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            backdrop-filter: blur(10px);
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #0C2C40;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */
        }

/* CSS */
.button-53 {
  background-color: #8C5627;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #FFF;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left:40%;
  margin-top:60px;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }

.ajouter_form{
    display: grid;
    justify-content: center;
    align-items: center;
}

label{
    color:#fff;
}

.row_table{
    padding:25px;
}

.input_form{
    border-radius: 20px;
    padding:6px;
}

}
    </style>

    <section id="portfolio" class="portfolio sections-bg" style="margin-top:40px;">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Formation</h2>
          <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia reprehenderit sunt deleniti</p>
        </div>

    <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
    
    <div>
            <ul class="portfolio-flters">
              <li data-filter="*"><a href="{{path('app_formation_afficher_Cours',{'id_user':iduser})}}">Recommandé</a></li>
              <li data-filter=".filter-app"><a href="{{path('app_formation_afficher_Cours_Tout',{'id_user':iduser})}}">tout</a></li>
              <li data-filter=".filter-product"><a href="{{path('app_formation_afficher_Cours_Commance',{'id_user':iduser})}}">commancé</a></li>
              <li data-filter=".filter-branding"><a href="{{path('app_formation_afficher_Cours_Terminer',{'id_user':iduser})}}">terminer</a></li>
              <li data-filter=".filter-books" class="filter-active"><a href="{{path('app_formation_afficher_Mes_Cours',{'id_user':iduser})}}">Mes Cours</a></li>
            </ul><!-- End Portfolio Filters -->
          </div>
    
    <div class="row gy-4 portfolio-container">

        {% for cours in list_cours %}
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    {% set externalUrl = DropBox.getTemporaryLink(cours.getImgUrl()) %}
                    <a href={{ externalUrl }} data-gallery="portfolio-gallery-app" class="glightbox"><img style="height: 50%;width: 50%;"width="1000" height="1000" src={{ externalUrl }} class="img-fluid" alt=""></a>
                    <div class="portfolio-info" style="display: flex;background-color: #0C2C40;">
                        <div style="padding-right: 30%;">
                            <h4><a href="portfolio-details.html" style="color:#fff" title="More Details">{{ cours.titre }}</a></h4>
                            <p style="color:#fff">Par      : {{ cours.idTuteur.nom }}</p>
                            <p style="color:#fff">Categorie: {{ cours.categorie }}</p>
                            <p style="color:#fff">Durrée   : {{ cours.duree }}  min</p>
                        </div>
                        <div style="display: grid;">
                            <a style="color:#fff;background-color: #8C5627;border-radius: 50px;padding: 10px;margin-bottom: 5px;" href={{ path('app_formation_supprimer_Cours',{'id': cours.id } ) }}>Supprimer</a>
                            <a  style="color:#fff;background-color: #8C5627;border-radius: 50px;padding: 10px;"href={{ path('app_formation_modifier_Cours', {'id': cours.id } ) }}>Modiffier</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    </div>
    <button id="ajouter" class="button-53">Ajouter Un Cours</button>
    </section>

    <div class="modal" id="myModal" {% if isForm %} style="display:block;"{% endif %}>
    <div class="modal-content">
            
            {{form_start(Cours_form ,{'attr': {'novalidate': 'novalidate','class': 'ajouter_form'}})}}
                <table >
                    <tr>
                        <td class="row_table">{{form_label(Cours_form.titre,"Titre",{'attr': {'class': 'ajouter_label'}})}}</td>
                        <td class="row_table">{{form_widget(Cours_form.titre,{"name":"titre",'attr':{'style':'width:100%;','class':'input_form'}})}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{form_errors(Cours_form.titre)}}</td>
                    </tr>
                    <tr>
                        <td class="row_table">{{form_label(Cours_form.categorie,"Categorie")}}</td>
                        <td class="row_table">{{form_widget(Cours_form.categorie,{'attr':{'style':'width:100%;','class':'input_form'}})}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{form_errors(Cours_form.categorie)}}</td>
                    </tr>
                    </tr>
                    <tr>
                        <td class="row_table">{{form_label(Cours_form.Img_url,"Image de Couverture")}}</td>
                        <td class="row_table">{{form_widget(Cours_form.Img_url,{'attr':{'style':'color:#fff;','class':'input_form'}})}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{form_errors(Cours_form.Img_url)}}</td>
                    </tr>

                </table>
                {{form_widget(Cours_form.Ajouter,{'attr':{'style':'width: 50%;
    margin-left: 25%;
    margin-top:20px;
    border-radius: 25px;
    background-color: #8C5627;
    color: #fff;'}})}}
            {{form_end(Cours_form)}}
        </div>
    </div>
    {% include 'FrontOffice/Components/footerbar.html.twig' %}
    {% include 'FrontOffice/Components/Assets/js.html.twig' %}
    <script>
        document.getElementById("ajouter").addEventListener('click', function(){
            //document.section.classList.add('active-modal');
            document.getElementById("myModal").style.display = "block";
        });

        window.onclick = function(event) {
            if (event.target == document.getElementById("myModal")) {
                document.getElementById("myModal").style.display = "none";
            }
        }
    </script>
{% endblock %}