{% extends 'base.html.twig'%}

{% block body %}

    {% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
    {% include 'FrontOffice/Components/navbar.html.twig' %}

    <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        {% include 'FrontOffice/Components/navbarFormation.html.twig' %}
    
    
    <div class="row gy-4 portfolio-container">

        {% for cours in list_cours %}
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    {% set externalUrl = DropBox.getTemporaryLink(cours.getImgUrl()) %}
                    <a href={{ externalUrl }} data-gallery="portfolio-gallery-app" class="glightbox"><img src={{ externalUrl }} class="img-fluid" alt=""></a>
                    <div class="portfolio-info" style="display: flex;">
                        <div>
                            <h4><a href="portfolio-details.html" title="More Details">{{ cours.titre }}</a></h4>
                            <p>Par      : {{ cours.idTuteur.nom }}</p>
                            <p>Categorie: {{ cours.categorie }}</p>
                            <p>Durrée   : {{ cours.duree }}  min</p>
                        </div>
                        <div>
                            <a href="{{ path('CommancerCour',{'id_cours':cours.id,'id_user':iduser}) }}"> Commancer </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    </div>

    </section>

    
    {% include 'FrontOffice/Components/footerbar.html.twig' %}
    {% include 'FrontOffice/Components/Assets/js.html.twig' %}
{% endblock %}