{% extends 'base.html.twig' %}

{% block title %}Publication index{% endblock %}

{% block body %}
{% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
        {% include 'FrontOffice/Components/navbar.html.twig' %}
  
    <h1>Publication </h1>

    <table class="table">
        <thead>
            <tr>
               <!--  <th>Id</th>-->
                <th>Objet</th>
                <th>Message</th>
                <!-- <th>IdCours</th>-->
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            <tr>
               <!--  <td>{{ publication.getIdPub() }}</td>-->
                <td>{{ publication.objet }}</td>
                <td>{{ publication.message }}</td>
               <!--  <td>{{ publication.idCours }}</td> -->
                <td>
                    <a href="{{ path('app_publication_show', {'id': publication.getIdPub()}) }}">Afficher</a>
                    <a href="{{ path('app_publication_edit', {'id': publication.getIdPub()}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_publication_new') }}">Create new</a>
     {% include 'FrontOffice/Components/footerbar.html.twig' %}
{% endblock %}
