{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}

{% block body %}
 {% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
    {% include 'FrontOffice/Components/navbar.html.twig' %}
    <h1>Publication</h1>

    <table class="table">
        <tbody>
           <!-- <tr>
                <th>Id</th>
                <td>{{ publication.getIdPub() }}</td>
            </tr> -->
            <tr>
                <th>Objet</th>
                <td>{{ publication.objet }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ publication.message }}</td>
            </tr>
          <!--  <tr>
                <th>IdCours</th>
                <td>{{ publication.idCours }}</td>
            </tr>-->
        </tbody>
    </table>

    <a href="{{ path('app_publication_index' , {'id_Profil' : publication.getIdProfil().getIdProfil()}) }}">Revenir à la liste</a>

    <a href="{{ path('app_publication_edit', {'id' : publication.getIdPub()}) }}">Modifier</a>

    {{ include('publication/_delete_form.html.twig') }}
{% endblock %}
