{% extends 'base.html.twig' %}

{% block title %}Projet index{% endblock %}

{% block body %}
{% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
    {% include 'FrontOffice/Components/navbar.html.twig' %}

    <h1>Listes Des Projets</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Description</th>
                <th>Domaine</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
               
                <td>{{ projet.nom }}</td>
                <td>{{ projet.description }}</td>
                <td>{{ projet.domaine }}</td>
                <td>
                   <a href="{{ path('app_projet_show', {'id': projet.id}) }}">Afficher les detailes</a><br>
                    <a href="{{ path('app_projet_edit', {'id': projet.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    <a href="{{ path('app_projet_new') }}"><strong>Creer un nouveau Projet </strong></a>
<div class="d-flex justify-content-between">
<a href="{{ path( 'app_fichmedia_index') }}"class="btn btn-primary float-right ">Consulter les fichiers media</a>
     <a href="{{ path('app_projet_search') }}">Chercher Projet</a>
<a href="{{ path( 'app_typeprojet_index') }}"class="btn btn-primary float-right ">Consulter les types projets </a><br>

</div>

      {% include 'FrontOffice/Components/footerbar.html.twig' %}
{% endblock %}