{% extends 'base.html.twig' %}

{% block content %}
    <h1>Search Projects</h1>

    {{ form_start(form) }}
    {{ include('projet/_form.html.twig', {'button_label': 'Search'}) }}
        {{ form_row(form.nom) }}
    {{ form_end(form) }}

    {% if projets is not empty %}
        <h2>Search Results:</h2>
        <ul>
            {% for projet in projets %}
                <li>{{ projet.nom}}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
