{% extends 'base.html.twig' %}


{% block title %}Search{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Search Projects</h1>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.search) }}
                {{ form_widget(form.search, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            {{ form_end(form) }}
            {% if projets is not empty %}
                <h2>Results:</h2>
                <ul>
                    {% for projet in projets %}
                        <li>{{ projet.nom }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
        </div>
    </div>
{% endblock %}

