{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
{% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
    {% include 'FrontOffice/Components/navbar.html.twig' %}
    <h1>Profil</h1>

 <div>                                       
                         <div style="display: none;" id="myDIVR">
                                        <label for="latitude">
                                            Latitude:
                                        </label>
                                        <input id="txtLat" name="txtLat" type="hidden" style="color:black" value="{{profil.getlatitude}}" onchange="initialize();" />
 
 
                                        <label for="longitude">
                                            Longitude:
                                        </label>
                                        <input id="txtLng" name="txtLng" type="hidden" style="color:black" value="{{profil.getlongitude}}" onchange="initialize();" />
                                    </div>
 
                                        <div id="map_canvas" style="width: 200px; height: 200px;">
                                      </div>
 
 
 
 
                       </div>




    <table class="table">
        <tbody>
          <!--  <tr>
                <th>IdProfil</th>
                <td>{{ profil.getIdProfil() }}</td>
            </tr>-->
            <tr>
                <th>Nom</th>
                <td>{{ profil.getNom() }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ profil.getPrenom() }}</td>
            </tr>
            <tr>
                <th>Numero Telephone</th>
                <td>{{ profil.getNumeroTelephone() }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ profil.getEmail() }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ profil.getLocalisation() }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ profil.getDescription() }}</td>
            </tr>
            <tr>
                <th>Langues</th>
                <td>{{ profil.getLangues() }}</td>
            </tr>
            <tr>
                <th>Competences</th>
                <td>{{ profil.getCompetences() }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ profil.getFormation() }}</td>
            </tr>
            <tr>
                <th>ExperiencesProfessionnelles</th>
                <td>{{ profil.getExperiencesProfessionnelles() }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ profil.getlatitude() }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ profil.getlongitude() }}</td>
            </tr>
            <tr>
                <th>Diplome</th>
                <td>{{ profil.getDiplome() }}</td>
            </tr>
        </tbody>
    </table>
    

    <a href="{{ path('app_publication_index' , {'id_Profil' : profil.idProfil}) }}">Retourner à la liste-----</a>

    <a href="{{ path('app_profil_edit', {'idProfil': profil.idProfil}) }}">Modifier</a>
    <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Export your profil details into PDF</h4>
                            </div>
                            <ul>
                            <a href="{{ path('PDF_profil') }}" class="btn btn-secondary" tabindex="-1" role="button">PDF</a>

                            </ul>
                            

                        </div>

    {{ include('profil/_delete_form.html.twig') }}

     <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <span class="text-secondary"><div class="fb-share-button" data-href={{app.request.uri}} data-layout="box_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div></span>
                  

 

              

 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvHg2E3bOHns4yCQJ4ogiFR9wllEg4Z0E"></script>
<script>
    function initialize() {
            // Creating map object
            var map = new google.maps.Map(document.getElementById('map_canvas'), {
                zoom: 12,
                center: new google.maps.LatLng(28.47399, 77.026489),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            // creates a draggable marker to the given coords
            var vMarker = new google.maps.Marker({
                position: new google.maps.LatLng(document.getElementById('txtLat').value, document.getElementById('txtLng').value),
                draggable: true
            });
            // adds a listener to the marker
            // gets the coords when drag event ends
            // then updates the input with the new coords
            google.maps.event.addListener(vMarker, 'dragend', function (evt) {
                $("#txtLat").val(evt.latLng.lat().toFixed(6));
                $("#txtLng").val(evt.latLng.lng().toFixed(6));
                map.panTo(evt.latLng);
            });
            // centers the map on markers coords
            map.setCenter(vMarker.position);
            // adds the marker on the map
            vMarker.setMap(map);
        }
 
 
</script>
<div id="fb-root"></div>
 <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v13.0" nonce="BmJ9rahk"></script>
    
{% endblock %}
