{% extends 'base.html.twig' %}

{% block title %}Typeprojet index{% endblock %}

{% block body %}
{% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
    {% include 'FrontOffice/Components/navbar.html.twig' %}


    <h1>Les Types Projets</h1>

    <table class="table">
        <thead>
            <tr>
              
                <th>Nom Projet</th>
                <th>Type</th>
                <th>Description Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeprojet in typeprojets %}
            <tr>
                
                <td>{{ typeprojet.id.nom }}</td>
                <td>{{ typeprojet.nomtype }}</td>
                <td>{{ typeprojet.descriptiontype }}</td>
                <td>
                    <a href="{{ path('app_typeprojet_show', {'idtypeprojet': typeprojet.idtypeprojet}) }}">Afficher</a><br>
                    <a href="{{ path('app_typeprojet_edit', {'idtypeprojet': typeprojet.idtypeprojet}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_typeprojet_new') }}"><strong>Ajouter Un Type</strong></a>
    
    {% include 'FrontOffice/Components/footerbar.html.twig' %}
    
{% endblock %}
