{% block offre %}

<div class="content">
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <table style="margin:40px;border-collapse: separate;border-spacing: 30px 30px;">
                  <tr>
                    <th>Titre</th>
                    <th>Categorie</th>
                    <th>Durée</th>
                    <th>Nom</th>
                 </tr>
                 {% for i in Cours %}
                 <tr>
                    <td>{{ i.titre }}</td>
                    <td>{{ i.categorie }}</td>
                    <td>{{ i.duree }}</td>
                    <td>{{ i.idTuteur.nom }}</td>
                    <td><a href={{path("app_formation_back_bannir",{"id":i.id})}}>Bannir</a></td>
                 </tr>
                 {% endfor %} 
                 </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Les Cours par Categorie</h5>
              </div>
              <div class="card-body">
                <div>
                  <canvas id="my-chart"></canvas>
                </div>
              </div>
            </div>
        </div>
          
        </div>
      </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('my-chart');

  const xhr = new XMLHttpRequest();
  xhr.open("GET", '{{ path("chart_formation_api") }}');
  xhr.onload = function() {
  if (xhr.status === 200) {
    // Handle the response here
    var data = JSON.parse(xhr.responseText);
    new Chart(ctx, {
      type: 'bar',
      data: data,
    });
  }
 else {
    console.log('Request failed. Returned status of ' + xhr.status);
  }
  }


  
  xhr.send();
</script>

{% endblock %}