<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CANDIDATURE</title>
</head>
<body>



<div class="header">
<h1>La Candidature de {{ candidature.candidat }} pour l'offre  {{ candidature.offre.titre }}</h1>
<h1>_______________________________________</h1>
</div>

<div class="content">
 
 
        <h3>Candidat  : {{ candidature.candidat  }}</h3>
        <br>
    <h3>Recruteur  : {{ candidature.offre.recruteur  }}</h3><br>
    <h3>Titre de l'offre  : {{ candidature.offre.titre  }}</h3><br>
    <h3>Status candidature : {{ candidature.status }}</h3><br>
    <h3>Date de postulation : {{ candidature.datepostulation|date('Y-m-d H:i') }}</h3><br>
    <h3>Date de l'acceptation/rejet : {{ candidature.datemodification|date('Y-m-d H:i') }}</h3><br>
    <h3>Raison de l'acceptation/rejet : {{ candidature.details }}</h3><br>
</div>

</body>
</html>

<style>
    body {
        background-color: #FFFFFF;
        font-family: Arial, sans-serif;
    }
    .header {
        background-color: #fff;
        color: #000000;
        padding: 5px;
    }
    .content {
        padding: 20px;
                color: #9C0003;
    }
    .footer {
        background-color: #D4719F;
        color: #fff;
        padding: 10px;
        text-align: center;
        font-size: 12px;
    }
</style>