{% extends 'base.html.twig'%}

{% block body %}

    {% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
    {% include 'FrontOffice/Components/navbar.html.twig' %}
    <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Formation</h2>
          <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia reprehenderit sunt deleniti</p>
        </div>

    <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
    
    <div>
            <ul class="portfolio-flters">
              <li data-filter="*" class="filter-active"><a href="{{path('app_formation_afficher_Cours')}}">Recommandé</a></li>
              <li data-filter=".filter-app"><a href="{{path('app_formation_afficher_Cours_Tout')}}">tout</a></li>
              <li data-filter=".filter-product"><a href="{{path('app_formation_afficher_Cours_Commance')}}">commancé</a></li>
              <li data-filter=".filter-branding"><a href="{{path('app_formation_afficher_Cours_Terminer')}}">terminer</li>
              <li data-filter=".filter-books"><a href="{{path('app_formation_afficher_Mes_Cours')}}">Mes Cours</a></li>
            </ul><!-- End Portfolio Filters -->
          </div>
    
    <div class="row gy-4 portfolio-container">

        {% for cours in list_cours %}
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <a href="{{asset('assets/img/portfolio/app-1.jpg')}}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-1.jpg" class="img-fluid" alt=""></a>
                    <div class="portfolio-info" style="display: flex;">
                        <div>
                            <h4><a href="portfolio-details.html" title="More Details">{{ cours.titre }}</a></h4>
                            <p>Par      : {{ cours.idTuteur.nom }}</p>
                            <p>Categorie: {{ cours.categorie }}</p>
                            <p>Durrée   : {{ cours.duree }}  min</p>
                        </div>
                        <div>
                            <a href={{ path('app_formation_supprimer_Cours',{'id': cours.id } ) }}>Supprimer</a>
                            <button>Modiffier</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    </div>
    </section>

    
    {% include 'FrontOffice/Components/footerbar.html.twig' %}
    {% include 'FrontOffice/Components/Assets/js.html.twig' %}
{% endblock %}