{% extends 'base.html.twig'%}

{% block body %}

    {% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
    {% include 'FrontOffice/Components/navbar.html.twig' %}

    <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Formation</h2>
          <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia reprehenderit sunt deleniti</p>
        </div>

    <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
    
    <div>
            <ul class="portfolio-flters">
              <li data-filter="*" class="filter-active"><a href="{{path('app_formation_afficher_Cours')}}">Recommandé</a></li>
              <li data-filter=".filter-app"><a href="{{path('app_formation_afficher_Cours_Tout',{'id_user':'8'})}}">tout</a></li>
              <li data-filter=".filter-product"><a href="{{path('app_formation_afficher_Cours_Commance',{'id_user':'8'})}}">commancé</a></li>
              <li data-filter=".filter-branding"><a href="{{path('app_formation_afficher_Cours_Terminer')}}">terminer</li>
              <li data-filter=".filter-books"><a href="{{path('app_formation_afficher_Mes_Cours',{'id_user':'8'})}}">Mes Cours</a></li>
            </ul><!-- End Portfolio Filters -->
          </div>
    
    <input type="text" id="search" placeholder="Search">

    <div class="row gy-4 portfolio-container">

        

        {% for cours in list_cours %}
            {% for p in prog %}
                {% if loop.first %}
           
        
            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    {% set externalUrl = DropBox.getTemporaryLink(cours.getImgUrl()) %}
                    <a href="{{externalUrl}}" data-gallery="portfolio-gallery-app" class="glightbox"><img src={{externalUrl}} class="img-fluid" alt=""></a>
                    <div class="portfolio-info" style="display: flex;">
                        <div>
                            <h4><a href="portfolio-details.html" title="More Details">{{ cours.titre }}</a></h4>
                            <p>Par      : {{ cours.idTuteur.nom }}</p>
                            <p>Categorie: {{ cours.categorie }}</p>
                            <p>Durrée   : {{ cours.duree }}  min</p>
                        </div>
                        {% endif %}
                        {% if loop.last %}
            <!-- Code to display when it's the last iteration of the loop -->
        
                        <div>
                            <a>{{ p }} %</a>
                            <a href="{{ path('CommancerCour',{'id_cours':cours.id,'id_user':8}) }}"> Commancer </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    </div>
    </div>
    </section>

    
    {% include 'FrontOffice/Components/footerbar.html.twig' %}
    {% include 'FrontOffice/Components/Assets/js.html.twig' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){

            var value = $(this).val();

            $.ajax({

            url : "{{ path('recherche_formation_api') }}"

            type : "POST";,

            data: {
                "search" : value
            },

            success : function(retour){
            if(retour){
            $(".row").empty();
            /*$.each(JSON.parse(retour), function(i, obj) {
                $(".row").hide();
                $(".row").append('<div class="col-xl-4 col-md-6 portfolio-item filter-app"><div class="portfolio-wrap">\
                                  <div class="portfolio-info" style="display: flex;"><div><h4>\
                                  <a href="portfolio-details.html" title="More Details">'+obj.titre+'</a></h4>'+
                                  '<p>Par      : '+obj.idTuteur.nom+'</p>'+
                                  '<p>Categorie: '+obj.categorie+'</p>'+
                                  '<p>Durrée   : '+obj.duree+'  min</p>'+
                                  '</div><div><button> Commancer </button></div></div></div></div>');
            });*/
            }
else
{
$(".row").show();
$(".row").empty();
$(".row").fadeIn("fast");
}
},
});
return false;
});
});
&lt;/script&gt;
{% endblock %}