{% extends 'base.html.twig'%}

{% block body %}

    {% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
    {% include 'FrontOffice/Components/navbar.html.twig' %}

    <h1 style="text-align: center;padding:50px;">Ajouter au Cours : {{ Cours.getTitre() }}</h1>

    {{form_start(Chpitre_form ,{'attr': {'novalidate': 'novalidate','style':'text-align: center;'}})}}
        {{form_label(Chpitre_form.titre,"Titre du Chapitre :")}}</td>
        {{form_widget(Chpitre_form.titre)}}
        {{form_errors(Chpitre_form.titre)}}

        {{form_widget(Chpitre_form.Ajouter)}}
    {{form_end(Chpitre_form)}}


    
    {% include 'FrontOffice/Components/footerbar.html.twig' %}
    {% include 'FrontOffice/Components/Assets/js.html.twig' %}
{% endblock %}