

{% extends 'base.html.twig'%} 

{% block body %}
    {% include 'FrontOffice/Components/Assets/icon.html.twig' %}
    {% include 'FrontOffice/Components/Assets/css.html.twig' %}
    {% include 'FrontOffice/Components/navbar.html.twig' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
        <br>
          <h2>Publications</h2>
          
          <div class="text-center -btn"><a href={{ path('app_publication_new') }} class="img-fluid" alt="">Ajouter Publication</a></button></div>
        </div>
      <input type="text" id="searchInput" placeholder="Search...">
        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div class="row gy-4 portfolio-container">
     
          {% for publication in publications %}

            <div class="col-xl-4 col-md-6 portfolio-item filter-app publication-item">
              <div class="portfolio-wrap">
  
             <!--   <a href={{ path('app_publication_show', {'id': publication.getIdPub()}) }}><img width="50%" src={{asset("assets/img/user.png")}} class="img-fluid" alt=""></a> -->
                <a href={{ path('app_profil_show', {'profil': publication.getIdProfil().getIdProfil()   }) }}><img width="50%" src={{asset("assets/img/user.png")}} class="img-fluid" alt=""></a> 
           
                <div class="portfolio-info">
                  <h4><a href={{ path('app_publication_show', {'id': publication.getIdPub()}) }} title="More Details">{{publication.getIdProfil().prenom}} {{publication.getIdProfil().Nom}}</a></h4>
                  <p>{{publication.objet}}</p>
                    <p>{{publication.message}}</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            {% endfor %}

          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section>

    <script>
  $(document).ready(function() {
    $("#searchInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $(".publication-item").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>


    
    {% include 'FrontOffice/Components/Assets/js.html.twig' %}
{% endblock %}